#sortable {
  list-style: none;
}

#sortable td{
  padding: 0;
	width: 30px;
  height: 20px;
}

#sortable td+td{
  padding: 0;
	width: 30px;
  height: 20px;
}

#sortable td+td+td{
	width: auto;
}

.move {
	background-image: url('../img/drag.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 20px;
	display: inline-block;
	float: left;
	cursor: move;
}

.remove {
	background-image: url('../img/remove.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 20px;
	display: inline-block;
	float: left;
}
